.login-panel {
    margin: 20px auto 20px auto;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 40px;
}

.body-login {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    overflow: auto;
}