.tab-menu-nav {
    bottom: 0;
    position: absolute;
    top: 0px;
    width: 150px;
    left: 0;
    border-right: 1px solid #f3f3f3;
}

.tab-menu-content {
    bottom: 0;
    position: absolute;
    top: 10px;
    overflow: auto;
    right: 10px;
    left: 165px;
}