.tbl-wrapper {
    position: relative;
    overflow: auto;
}

.tbl {
    border-top: 1px solid #eee;
    .tbl-header {
        position: relative;
        background: #fff;
        border-bottom: 1px solid #eee;
        padding: 0 0 11px 0px;
        font-weight: bold;
        height: 32px;
    }
    .tbl-header-row {
        padding: 4px 10px;
        .tbl-col {
            align-self: center;
            flex: 1;
            flex-wrap: wrap;
        }
    }
    .tbl-row {
        padding: 5px 0;
        border-bottom: 1px solid #eee;
        .tbl-col {
            align-self: center;
            flex: 1;
            flex-wrap: wrap;
        }
        &:hover {
            background: #eee;
        }
    }
    .tbl-title {
        background-color: #fff;
        color: #444;
        margin-left: 0;
        margin-right: 0;
    }
    &.fixed {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        .tbl-body {
            position: absolute;
            overflow-x: hidden;
            left: 0px;
            right: 0px;
            bottom: 0;
            top: 32px;
        }
        .tbl-row {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .tbl-row-new {
        background: #f0fff0;
        &:hover {
            background: #e0ffe0;
        }
    }
    .tbl-row-action {
        background: #fff0f0;
        &:hover {
            background: #ffe0e0;
        }
    }
}

.sortable {
    cursor: pointer;
}

.flex-table {
    display: block;
    overflow: auto;
    div {
        box-sizing: border-box;
    }
    .flex-table-header {
        display: block;
        font-weight: bold;
    }
    .flex-table-row {
        display: flex;
        flex-flow: row wrap;
    }
    .flex-table-body {
        display: block;
    }
    .flex-table-col {
        padding: 4px 6px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        &.sortable {
            flex-flow: row wrap;
            justify-content: space-between;
        }
    }
    .flex-table-col-1 {
        width: calc(100% / 12);
    }
    .flex-table-col-2 {
        width: calc(100% / 6);
    }
    .flex-table-col-3 {
        width: calc(100% / 4);
    }
    .flex-table-col-4 {
        width: calc(100% / 3);
    }
    .flex-table-col-6 {
        width: calc(100% / 2);
    }
    &.fixed {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        .flex-table-body {
            position: absolute;
            overflow-x: hidden;
            left: 0px;
            right: 0px;
            bottom: 0;
            top: 32px;
        }
    }
    &.style-1 {
        .flex-table-header {
            border-bottom: 1px solid #d9d9d9;
        }
        .flex-table-body {
            .flex-table-row {
                background: #ffffff;
                border-bottom: 1px solid #d9d9d9;
                &:hover {
                    background: #e4e4e4;
                }
            }
            .flex-table-row:nth-child(odd) {
                background: #eee;
                &:hover {
                    background: #dadada;
                }
            }
        }
    }
    &.style-2 {
        border-top: 1px solid #d9d9d9;
        border-left: 1px solid #d9d9d9;
        border-right: 1px solid #d9d9d9;
        .flex-table-header {
            border-bottom: 1px solid #000;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .flex-table-body {
            .flex-table-row {
                background: #ffffff;
                border-bottom: 1px solid #d9d9d9;
                &:hover {
                    background: #e4e4e4;
                }
            }
            .flex-table-row:nth-child(odd) {
                background: #f4f2f1;
                &:hover {
                    background: #dadada;
                }
            }
        }
    }
}